header {
    background-color: rgb(73, 92, 109);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Crimson Text', serif;
  }
  header h1, h1, h2, h3, h4, h5, h6 {
      color: #D4D06A;
      font-family: 'Crimson Text', serif;
  }

  header p {
    color: #D4D06A;
    font-size: 1em;
  }

  header img {
      width: 100px;
      padding: 1em;
      height: auto;
  }

  footer {
    background-color: rgb(73, 92, 109);
    color: #D4D06A;
    text-align: center;
    vertical-align: center;
  }
  
  header {
    padding-top: 0rem;
  }
  
  footer {
    padding: 0.5rem 0rem;
    font-family: "Crimson Text", serif;
  }