header {
    background-color: #07ABC8;
    padding: 1.2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header h1, h4 {
      color: #052547;
  }

  header p {
    color: #052547;
    font-size: 1em;
  }

  header img {
      width: 70px;
      height: auto;
  }

  footer {
    background-color: #07ABC8;
    color: #052547;
    text-align: center;
    vertical-align: center;
  }
  
  header {
    padding-top: 0.5rem;
  }
  
  footer {
    padding: 0.5rem 0rem;
    font-family: "Crimson Text", serif;
  }
    
  nav {
    background-color: #1b6674;
  }
  .navigation {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navigation li {
      display: none;
  }
  
  .navigation li:first-child {
      display: block;
  }
  
  .navigation li a {
    display: block;
    background-color: #1b6674;
    color: #dadee0;
    text-decoration: underline;
    text-align: center;
    padding: 1rem;
    font-family: "Muli", sans-serif;
  }
  
  .navigation a:hover {
    background-color: #08d6fc;
    color: #650891;
    
  }

  .responsive li {
    display: block;
  }
 .fwidth {
   width: 100%;
   display: block;
   align-items: center;
 }
 .promo {
    display: block;
    background-color: rgb(170, 224, 22);
    color: rgb(5, 46, 80);
    font-weight: bold;
    padding: 1rem;
    text-align: center;
  }
  section h1 {
      text-align: center;
  }
  main {
      padding: 0 2%;
      min-height: 20rem;
  }
  form fieldset {
      margin: 2rem 0;
      border: 1px solid #000000;
      border-radius: 10px;
      padding: .5rem 2%;
  }

  form legend {
      color: #000000;
      margin: 0 1rem;
      padding: 0 .5rem;
  }

  form label.top input {
      display: block;
      font-size: 1rem;
      border: solid 1px #000000;
      border-radius: 4px;
      padding: 0.75rem;
      margin: 2%;
  }

  form label.top input:required {
    border-left: #a00b0b solid 6px;
  }
  form label.top input:valid {
    border-left: #199bce solid 6px;
  }
  

  form label.top select {
      width: 80%;
      padding: 0.75rem;
      margin: 2%;
      font-family: "crimson-text", serif;
  }

  form label.range-label {
      padding-top: 2rem;
      font-size: .9rem;
  }

  form label.top, form div, form label.select-css {
      display: block;
      padding-top: 1rem;
      font-size: .9rem;
  }

  form label.top textarea {
      width: 600px;
      height: 120px;
      border: 3px solid #000000;
      padding: 5px;
  }

  form label.sbs {
      display: block;
      padding: .75rem 0;
      color: #030303;
  }
  .wcontent {
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
}

.wcontent section h2 {
    margin-bottom: 5px;
}

.wcontent section div.txt div {
    padding: 8px;
}

.wcontent section {
    width: auto;    
    background-color: #353c3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.wcontent section div.txtImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.wcontent section div.txt {
    padding: 40px;
    width: 100%;
}

.wcontent section div.txtImage div.txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wcontent section div.image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wcontent section img {
    height: 220px;
    width: 80%;
}
.wcontent h4{
    color: white;
    font-family: "Muli", serif;
}

  input[type=range] {
      -webkit-appearance: none;
      margin: 18px 0;
      width: 40%;
  }
  input[type=range]:focus {
      outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 40%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #00000071, 0px 0px 1px #0d0d0d;
    background: rgb(64, 158, 221);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgb(64, 158, 221);
  }

  #range {
      color: rgb(64, 158, 221);
      font-size: 2rem;
  }

  #select {
      color: #011936;
  }
  .select-css {
	display: block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: rgb(105, 99, 99);
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 80%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: rgb(105, 99, 99);
}


form input {
    display: block;
}

form input.submit {
    border: none;
    background-color: rgb(79, 179, 209);
    color: rgb(0, 0, 0);
    border-radius: 1rem;
    padding: .75rem;
    margin: 0 0 2rem 2%;
    width: 30%;
}
section {
    font-family: "Crimson Text", serif;
}

.thanks {
    justify-self: center;
}
.wcontent {
  max-width: 700px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}

.wcontent section h2 {
  margin-bottom: 5px;
}

.wcontent section div.txt div {
  padding: 8px;
}

.wcontent section {
  width: auto;    
  background-color: #353c3d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.wcontent section div.txtImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.wcontent section div.txt {
  padding: 40px;
  width: 100%;
}

.wcontent section div.txtImage div.txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wcontent section div.image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wcontent section img {
  height: 220px;
  width: 80%;
}
.wcontent h4{
  color: white;
  font-family: "Muli", serif;
}
article {
  border: 1px solid #dadee0;
  padding: 1rem;
  background-color: #dadee0;
}
.aimg1 {
  display: block;
  width: 25%;
  margin: 1rem auto;
}
.galleryimg {
    display: grid;
    justify-items: center;
    border: solid black;
    width: 400px;
}
.gallery {
   
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.galleryhead {
  grid-column: 1 / -1;
  grid-row: 1;
  justify-self: center;
}